@import "tailwindcss";

body {
  background-color: #000;
}
.active-link {
  position: relative;
  color: white;
  font-weight: 600;
  display: inline-block;
  padding: 0 4px; /* adds room so line extends nicely */
}

.active-link::after {
  content: "";
  position: absolute;
  left: -8%;   /* extend line beyond text */
  right: -8%;  /* extend line beyond text */
  top: 50%;    /* center through text */
  height: 3px;
  background-color: #0EA5E9;
  transform: translateY(-20%);
}
